.podcast-main .podcast-intro {
  height: 520px;
  background: url("https://www.itschool.ro/_next/static/media/background.5c87565d.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.podcast-main .podcast-intro img {
  height: 40px;
  width: auto;
}

.podcast-main .podcast-intro h1 {
  font-size: 52px;
  font-weight: normal;
}

.podcast-main .podcast-main-card {
  background-color: var(--light-yellow);
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(25, 30, 48, 0.1) 0px 30px 60px;
}

.podcast-main .podcast-main-card .pod-main-card-link {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.podcast-main .podcast-main-card img {
  border-radius: 8px;
  display: block;
  object-fit: cover;
  aspect-ratio: 68 / 43;
  flex: 7 1 0%;
  max-width: 50%;
}

.podcast-main-card {
  position: relative;
  bottom: 117px;
  right: 20px;
}

.podcast-main-card .pod-main-card-link {
  text-decoration: none;
}

.podcast-main-card .pod-main-card-link .podcast-main-text h1 {
  color: black;
  font-size: 32px;
}

.podcast-main-card .pod-main-card-link .podcast-main-text :nth-child(2) {
  color: black;
  font-size: 18px;
}

.podcast-main-card .pod-main-card-link .podcast-main-text :nth-child(3) {
  font-size: 13px;
  color: var(--transparent-gray);
}

.main-card-list-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 50px;
}

.main-card-list-section .main-card-list-section-container {
  width: calc(50% - 30px);
}

.main-card-list-section
  .main-card-list-section-container
  .main-card-list-section-containter-link {
  color: inherit;
  text-decoration: none;
}

.main-card-list-section
  .main-card-list-section-container
  .main-card-list-section-card-content {
  display: flex;
  width: 100%;
  cursor: pointer;
  background-color: rgb(252, 250, 247);
  box-shadow: rgba(25, 30, 48, 0.1) 0px 30px 60px;
  padding: 24px;
  border-radius: 16px;
}

.main-card-list-section
  .main-card-list-section-container
  .main-card-list-section-card-content
  .main-card-list-section-card-content-image {
  display: block;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 24px;
  aspect-ratio: 1 / 1;
  flex: 4 1 0%;
  max-width: 144px;
  max-height: 90px;
  min-width: 144px;
  min-height: 90px;
}

.main-card-list-section
  .main-card-list-section-container.main-card-list-section-card-text-container {
  flex: 8 1 0%;
}

.main-card-list-section
  .main-card-list-section-container.main-card-list-section-card-text-container
  .main-card-list-text-container-title {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: rgb(25, 30, 48);
  margin-bottom: 5px;
  text-overflow: ellipsis;
  min-height: 72px;
}

.main-card-list-section
  .main-card-list-section-container.main-card-list-section-card-text-container
  .main-card-list-text-container-text {
  font-size: 16px;
  line-height: 24px;
  min-height: 72px;
  margin-bottom: 10px;
}

.podcast-main .schedule-section {
  background: url("https://www.itschool.ro/_next/static/media/background.c097b26b.svg")
    no-repeat center;
  background-size: cover;
}

.podcast-main .schedule-section .content {
  padding: 100px 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
}

.podcast-main .schedule-section .content h2 {
  font-size: 36px;
  font-weight: 400;
}
